body {
    padding-top: 50px;
    background-image: url("../img/cloud2.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.resume-container{
    width: 70%;
    height: 100%;
    padding: 30px;
}
.header {
    color: rgb(0,0,0);
}
.paragraph {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 90vw;
}
.para-title {
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.para-body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    background-color: aliceblue;
}